body {
  margin: 0;
  /* padding-right: 15px; */
  overflow: hidden;
}

*, *::before, *::after {
    box-sizing: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
